.login-div{
    background-color: rgb(70, 70, 180);
}

body{
    background-color: powderblue;
}

.display{
    display: inline-block;
}
.img-overalls{
    text-align: center;
    display: inline-block;
}

.img-milk{
    text-align: justify;
    display: inline-block;
}

.img-eggs{
    text-align: justify;
    display: inline-block;
}

table{
    margin-top: 0px;
}

h3{
    margin-bottom: 0px;
}

.green{
    background-color: lightgreen;
}

.blue{
    background-color: white;
}

.receipt{
    border-color: white;
}